<a href="https://colab.research.google.com/github/utkar-shh/python-class/blob/main/lecture6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#escape sequences
print(' it\'s hello world')
a='hello world'
print('\a',a)
print("hello \t world")
print(R"hello \t world")
print("hello  world")

 it's hello world
 hello world
hello 	 world
hello \t world
hello  world

In [5]:
list = ["sajid", "nadeem" ,"touseef", "shahid", "Ram"]
print(list[0])
print(list[-4])
list[2] = "tousyf"
print(len(list))

list[2]="tia"
print(list)

list.append("ajay")
print(list)

list.insert(0,"Rama")
print(list)

list.remove("nadeem")
print(list)

print('sajid' in list )
list.clear
print(list)

sajid
nadeem
5
['sajid', 'nadeem', 'tia', 'shahid', 'Ram']
['sajid', 'nadeem', 'tia', 'shahid', 'Ram', 'ajay']
['Rama', 'sajid', 'nadeem', 'tia', 'shahid', 'Ram', 'ajay']
['Rama', 'sajid', 'tia', 'shahid', 'Ram', 'ajay']
True
['Rama', 'sajid', 'tia', 'shahid', 'Ram', 'ajay']

In [6]:
#delete elements.
names=[1,2,3,4,5,6,7,8,9,10,"syed",10.5]
for i in names:
  print(names.pop())
  print(names)

10.5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'syed']
syed
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[1, 2, 3, 4, 5, 6, 7, 8]
8
[1, 2, 3, 4, 5, 6, 7]
7
[1, 2, 3, 4, 5, 6]

In [7]:
#tuple  immutable type
names=(1,2,3,4,5,6,7,8,10)
name2=(23,"hello")
print(names)
print(names[0])
print(names[2:])
print(names[-2])
print(names[1:3])
print(names *2)
print(names + name2)

(1, 2, 3, 4, 5, 6, 7, 8, 10)
1
(3, 4, 5, 6, 7, 8, 10)
8
(2, 3)
(1, 2, 3, 4, 5, 6, 7, 8, 10, 1, 2, 3, 4, 5, 6, 7, 8, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 10, 23, 'hello')

1.Wap to iterate through a string and print thoswe elemenst. 2.wap to print table from 9 to 11 3.wap to loop through a list

In [8]:
#1
for i in "hello World":
  print(i,end=" ")

h e l l o   W o r l d

In [9]:
#2

for i in range(1,11,1):
   print("2 x",i,"=",2*i)
for i in range(1,11,1):
   print("\n3 x",i,"=",3*i)
for i in range(1,11,1):
   print("\n4 x",i,"=",4*i)
for i in range(1,11,1):
   print("\n5 x",i,"=",5*i)
for i in range(1,11,1):
   print("\n6 x",i,"=",6*i)
for i in range(1,11,1):
   print("\n7 x",i,"=",7*i)
for i in range(1,11,1):
   print("\n8 x",i,"=",8*i)
for i in range(1,11,1):
   print("\n9 x",i,"=",9*i)
for i in range(1,11,1):
   print("\n10 x",i,"=",10*i)
for i in range(1,11,1):
   print("\n11 x",i,"=",11*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30

4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

4 x 10 = 40

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

6 x 1 = 6

6 x 2 = 12

6 x 3 = 18

6 x 4 = 24

6 x 5 = 30

6 x 6 = 36

6 x 7 = 42

6 x 8 = 48

6 x 9 = 54

6 x 10 = 60

7 x 1 = 7

7 x 2 = 14

7 x 3 = 21

7 x 4 = 28

7 x 5 = 35

7 x 6 = 42

7 x 7 = 49

7 x 8 = 56

7 x 9 = 63

7 x 10 = 70

8 x 1 = 8

8 x 2 = 16

8 x 3 = 24

8 x 4 = 32

8 x 5 = 40

8 x 6 = 48

8 x 7 = 56

8 x 8 = 64

8 x 9 = 72

8 x 10 = 80

9 x 1 = 9

9 x 2 = 18

9 x 3 = 27

9 x 4 = 36

9 x 5 = 45

9 x 6 = 54

9 x 7 = 63

9 x 8 = 72

9 x 9 = 81

9 x 10 = 90

10 x 1 = 10

10 x 2 = 20

10 x 3 = 30

10 x 4 = 40

10 x 5 = 50

10 x 6 = 60

10 x 7 = 70

10 x 8 = 80

10 x 9 = 90

10 x 10 = 100

11 x 1 = 11

11 x 2 = 22

11 x 3 = 33

11 x 4 = 44

11 x 5 = 55

11 x 6 = 66

11 x 7 = 77

11 x 8 = 88

11 x 9 = 99

11 x 10 = 110

In [10]:
#3
list=['a','bc',78,1.23]
for i in list:
  print(i,end=" ")

a bc 78 1.23